body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: rgb(0, 240, 248);
}

.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.button-holder{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
}

.parent{
    background: whitesmoke;
    margin-top: 300px;
    width: 150px;
    height: 150px;
}

.child{
    background: tomato;
    width: 50px;
    height: 50px;
}

.start{
    width: 100px;
    height: 50px;
    border-radius: 0;
    border: none;
    background: blueviolet;
    font-size: 18px;
    font-weight: bold;
    transition: 1s;

}

.start:hover{
    transform: translate(10%, 10%);
}